#####################################################
####  CDEPS/CMEPS DATA Component Condiguration  #####
#####################################################

stream_info:               narr.01 narr.02 narr.03 narr.04 narr.05 narr.06 narr.07 narr.08

taxmode01:                 limit
mapalgo01:                 bilinear 
tInterpAlgo01:             linear 
readMode01:                single
dtlimit01:                 1.5
stream_offset01:           0
yearFirst01:               2011
yearLast01:                2011
yearAlign01:               2011
stream_vectors01:          null
stream_mesh_file01:        "MyIRENEdir/Data/ESMF/lwrad_down_narr_IRENE_ESMFmesh.nc"
stream_lev_dimname01:      null
stream_data_files01:       "MyIRENEdir/Data/FRC/lwrad_down_narr_IRENE_fixed.nc"
stream_data_variables01:   "lwrad_down Faxa_lwdn"

taxmode02:                 limit
mapalgo02:                 bilinear
tInterpAlgo02:             coszen
readMode02:                single
dtlimit02:                 1.5
stream_offset02:           0
yearFirst02:               2011
yearLast02:                2011
yearAlign02:               2011
stream_vectors02:          null
stream_mesh_file02:        "MyIRENEdir/Data/ESMF/swrad_narr_IRENE_ESMFmesh.nc"
stream_lev_dimname02:      null
stream_data_files02:       "MyIRENEdir/Data/FRC/swrad_narr_IRENE_fixed.nc"
stream_data_variables02:   "swrad Faxa_swnet"

taxmode03:                 limit
mapalgo03:                 bilinear
tInterpAlgo03:             linear
readMode03:                single
dtlimit03:                 1.5
stream_offset03:           0
yearFirst03:               2011
yearLast03:                2011
yearAlign03:               2011
stream_vectors03:          null
stream_mesh_file03:        "MyIRENEdir/Data/ESMF/Pair_narr_IRENE_ESMFmesh.nc"
stream_lev_dimname03:      null
stream_data_files03:       "MyIRENEdir/Data/FRC/Pair_narr_IRENE_fixed.nc"
stream_data_variables03:   "Pair Sa_pslv"

taxmode04:                 limit
mapalgo04:                 bilinear
tInterpAlgo04:             linear
readMode04:                single
dtlimit04:                 1.5
stream_offset04:           0
yearFirst04:               2011
yearLast04:                2011
yearAlign04:               2011
stream_vectors04:          null
stream_mesh_file04:        "MyIRENEdir/Data/ESMF/Tair_narr_IRENE_ESMFmesh.nc"
stream_lev_dimname04:      null
stream_data_files04:       "MyIRENEdir/Data/FRC/Tair_narr_IRENE_fixed.nc"
stream_data_variables04:   "Tair Sa_t2m"

taxmode05:                 limit
mapalgo05:                 bilinear
tInterpAlgo05:             linear
readMode05:                single
dtlimit05:                 1.5
stream_offset05:           0
yearFirst05:               2011
yearLast05:                2011
yearAlign05:               2011
stream_vectors05:          null
stream_mesh_file05:        "MyIRENEdir/Data/ESMF/Qair_narr_IRENE_ESMFmesh.nc"
stream_lev_dimname05:      null
stream_data_files05:       "MyIRENEdir/Data/FRC/Qair_narr_IRENE_fixed.nc"
stream_data_variables05:   "Qair Sa_q2m"

taxmode06:                 limit
mapalgo06:                 bilinear
tInterpAlgo06:             linear
readMode06:                single
dtlimit06:                 1.5
stream_offset06:           0
yearFirst06:               2011
yearLast06:                2011
yearAlign06:               2011
stream_vectors06:          null
stream_mesh_file06:        "MyIRENEdir/Data/ESMF/rain_narr_IRENE_ESMFmesh.nc"
stream_lev_dimname06:      null
stream_data_files06:       "MyIRENEdir/Data/FRC/rain_narr_IRENE_fixed.nc"
stream_data_variables06:   "rain Faxa_rain"

taxmode07:                 limit
mapalgo07:                 bilinear
tInterpAlgo07:             linear
readMode07:                single
dtlimit07:                 1.5
stream_offset07:           0
yearFirst07:               2011
yearLast07:                2011
yearAlign07:               2011
stream_vectors07:          null
stream_mesh_file07:        "MyIRENEdir/Data/ESMF/Uwind_narr_IRENE_ESMFmesh.nc"
stream_lev_dimname07:      null
stream_data_files07:       "MyIRENEdir/Data/FRC/Uwind_narr_IRENE_fixed.nc"
stream_data_variables07:   "Uwind Sa_u10m"

taxmode08:                 limit
mapalgo08:                 bilinear
tInterpAlgo08:             linear
readMode08:                single
dtlimit08:                 1.5
stream_offset08:           0
yearFirst08:               2011
yearLast08:                2011
yearAlign08:               2011
stream_vectors08:          null
stream_mesh_file08:        "MyIRENEdir/Data/ESMF/Vwind_narr_IRENE_ESMFmesh.nc"
stream_lev_dimname08:      null
stream_data_files08:       "MyIRENEdir/Data/FRC/Vwind_narr_IRENE_fixed.nc"
stream_data_variables08:   "Vwind Sa_v10m"
